{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <link rel='stylesheet' type='text/css' href="{% static 'home/css/style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>{% if title %}{{ title }} | lspade{% else %}lspade.xyz{% endif %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">lspade.xyz</span><!--{% url 'home:index' %}-->

      <!-- Spacer and right-align navigation -->
      <div class="mdl-layout-spacer"></div>

      <!-- Nav (hidden on small screens) -->
{#       <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="#">Admin</a>
      </nav> #}
    </div>
  </header>
  <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">lspade.xyz</span>
      <nav class="mdl-navigation">
        {% url 'home:index' as u%}
        <a class="mdl-navigation__link" href="{{ u }}">Home</a>

        {% url 'links:dash' as u %}
        <a class="mdl-navigation__link" href="{{ u }}">URL Shortener</a>

        {% url 'notes:new' as u %}
        <a class="mdl-navigation__link" href="{{ u }}">Notes</a>

        {% url 'words:query' as u %}
        <a class="mdl-navigation__link" href="{{ u }}">Phrase To Elements</a>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">lspade.xyz</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Lisence</a></li>
        <li><a href="#">Privacy & terms</a></li>
        <li><a href="#">Source Code</a></li>
      </ul>
    </div>
  </footer>
  {% block corner %}
  {% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script src="{% static 'turbolinks/turbolinks.js' %}"></script>
    <script>
      document.addEventListener('page:change', function() { componentHandler.upgradeDom();});
    </script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
</body>
</html>
