[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
image = "*"
"psycopg2-binary" = "*"
qrcode = "*"
"psycopg2" = "*"
"django-recaptcha2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
