{% extends 'home/base.html' %}

{% block content %}
<style>
  .main-card {
    padding: 20px;
  }
  .main-card h4 {
    margin-top: 0;
  }
  .main-card form input[type="submit"] {
    margin-top: 5px;
  }
</style>
<div class="main-card mdl-card mdl-shadow--2dp">
<h4>Create Short URL</h4>
  <form action="{% url 'links:new' %}" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}
      {{ form.destination.errors }}
      <div class="mdl-textfield mdl-js-textfield">
        {{ form.destination }}
        <label class="mdl-textfield__label" for="{{ form.destination.id_for_label }}">Destination</label>
      </div>
      {{ form.captcha }}

      <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="Create Link" />
  </form>
</div>
{% endblock %}
