{% extends 'home/base.html' %}

{% block extrahead %}
<script>
  function copyToClipboard(containerID) {
    if (document.selection) {
      var range = document.body.createTextRange();
      range.moveToElementText(document.getElementById(containerID));
      range.select().createTextRange();
      document.execCommand("copy");
    } else if (window.getSelection) {
      var range = document.createRange();
      range.selectNode(document.getElementById(containerID));
      window.getSelection().addRange(range);
      document.execCommand("copy");
    }
    window['counter'] = 0;
    var snackbarContainer = document.querySelector('#copy-notification');
    var data = {message: 'URL copied to clipboard'};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);

  }
</script>
{% endblock %}

{% block content %}

<style>
  .qrcode-card.mdl-card {
    width: 256px;
    height: 256px;
    background-size: cover;
  }

  .qrcode-card > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.9);
  }

  .qrcode-card__url {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .btn-corner {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
</style>
  <div class="links-grid">
    {% for link in links %}
      <div>
        <div class="qrcode-card mdl-card mdl-shadow--2dp" style="background: url('{{ link.qr_code }}'); background-size: cover;" id="tt{{ forloop.counter }}"  onclick="copyToClipboard('short_link-{{ forloop.counter }}');">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="qrcode-card__url" id="short_link-{{ forloop.counter }}">{{ link.url }}</span>
          </div>
        </div>

        <div id="copy-notification" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <div class="mdl-tooltip" for="tt{{ forloop.counter }}">
          Click the card<br>to copy the<br>short URL
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}

{% block corner %}
  <a href="/l/new/" class="btn-corner mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </a>

{% endblock %}
